#skills-header {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 35px;
}

.skill-img {
  width: 20%;
  height: auto;
}

@media (max-width: 460px) {
  .skill-img {
    width: 50%;
    height: auto;
  }
}
