.about {
  min-width: 100vh;
  background-color: black;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
}

.container {
  position: relative;
}

.photo {
  width: 600px;
  height: 400px;
}

a,
.fas,
.far,
a:hover,
a:active,
a:visited {
  color: white;
  margin-right: 10px;
}

.contact-info {
  margin-top: 20px;
}

.nav-items {
  margin: 10px;
}
