.about {
  background-color: black;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.container {
  position: relative;
  text-align: center;
}

a,
.fas,
.far,
a:hover,
a:active,
a:visited {
  color: white;
  margin-right: 10px;
}

.contact-info {
  margin-top: 20px;
}

.nav-items {
  margin: 10px;
}
