.project-item {
  background-color: black;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.photo {
  width: 100px;
  height: 270px;
}

.grid {
  text-align: center;
  color: black;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
