.project-item {
  background-color: black;
  color: white;
  font-family: "Frank Ruhl Libre", serif;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.photoImage {
  width: 800px;
  height: 600px;
}

.card-text {
  text-align: center;
  color: black;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
