.work {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
}

.projects {
  display: flex;
  text-align: center;
}
